@{
    //tudo que esta entre @ é codigo c#
    // ViewBag.Title = "Home Page";
    //a viewbag que foi chamada no controler é salva
    //negocio1.Cliente cliente= ViewBag.cliente;
    //pode ser mostrado os dados em variaveis
}

<div class="jumbotron">
    <a href="/Produtos/Index" class="btn btn-default">Produtos</a>
</div>